.nav-wrapper .brand-logo img {
    height: 3rem;
}
.brand-logo {
    display: inline-block;
    height: 100%;
}
.brand-logo>img {
    vertical-align: middle
}
.card-panel{
	padding:0.5rem;
}

#laptop>img {
    vertical-align: middle;
	height:4rem;
}
#laptop{
	padding: 0;
}

.laptop-list{
	padding: 1rem 1rem;
}

.laptop-name{
	font-size:0.9rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
	font-weight: bold;
	text-decoration: underline;
}

.specs{
	font-size:0.75rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.row .spec-sec .col{
	padding-left:0rem;
	padding-right:0rem;
}

.price .col{
	padding-left:0rem;
	padding-right:0rem;
}

.divider{
	margin: 1rem;
}

.specs .material-icons{
	font-size:1rem;
}

.collapsible.popout>li.active{
    margin-left: 2px;
    margin-right: 2px;
}

.collapsible.popout>li {
    margin-left: 5px;
    margin-right: 5px;
}
