.nav-wrapper .brand-logo img {
    height: 3rem;
}
.brand-logo {
    display: inline-block;
    height: 100%;
}
.brand-logo>img {
    vertical-align: middle
}
.card-panel{
	padding:0.5rem;
}