<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
	</head>
	<body>
	<nav>
		<div class="nav-wrapper white">
		<a href="home.html" class="brand-logo center">
			<img src="{{url_for('static',filename='img/logo_only.png')}}">
		</a>
		</div>
	</nav>
	<div class="section red accent-2" id="index-banner">
		<div class="container">
			<div class='row center'>
				<h4 class ="header col s12 light center white-text">Tell us your needs!</h4>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="input-field col s12">
				<form action="#">
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><i class="material-icons">monetization_on</i>Budget<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<span>Cost will decide the build quality and performance</span>
							<div class="input-field">
								<input value="50,000" id="budget" type="text" maxlength="7">
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">keyboard_hide</i>Usage<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<span>Select all you plan to do on your new laptop</span>
							<div class="row">
							
								<div class="col s6">
								
								<input class="usage" type="checkbox" id="usage_internet" checked="checked" />
								<label for="usage_internet">Internet</label>
								
								<input class="usage" type="checkbox" id="usage_office" checked/>
								<label for="usage_office">Office</label>
								
								<input class="usage" type="checkbox" id="usage_vc"  />
								<label for="usage_vc">Video Calling</label>
								<!--
								<input type="checkbox" id="test4" checked="checked" />						
								<label for="test4">Organizing Photos</label>
								-->
								<input class="usage" type="checkbox" id="usage_cds"  />
								<label for="usage_cds">Playing CDs</label>
								<input class="usage" type="checkbox" id="usage_movies"  checked/>
								<label for="usage_movies">Watching Movies</label>								
								</div>
								<div class="col s6">
								<!--
								<label for="test2">Emailing</label>
								<input type="checkbox" id="test3" />				
								-->
								<input class="usage" type="checkbox" id="usage_photo" />
								<label for="usage_photo">Photo Editing</label>
								
								<input class="usage" type="checkbox" id="usage_video"  />
								<label for="usage_video">Video Editing</label>
								
								<input class="usage" type="checkbox" id="usage_gaming"/>
								<label for="usage_gaming">Gaming</label>
								
								<input class="usage" type="checkbox" id="usage_coding" />
								<label for="usage_coding">Coding</label>
								
								<input class="usage" type="checkbox" id="usage_eng"  />
								<label for="usage_eng">Engineering Softwares</label>
								</div>
							</div>
							<div class="row">
							<div class="input-field col s12">
								<i class="material-icons prefix">mode_edit</i>
								<textarea id="other_usage" class="materialize-textarea"></textarea>
								<label for="other_usage">Specify if any other usages</label>
							</div>
							</div>
						</div>
					</li>
					<li id="photo_section" style="display:none">
						<div class="collapsible-header"><i class="material-icons">brush</i>Photo Editing<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<span>What kind of photo editing ?</span>
							<div class="row">
							<div class="input-field">
								<div class="col s12">
									<input name="photo_editing" type="radio" id="photo_editing_basic" checked/>
									<label for="photo_editing_basic">Basic Photo Editing (crop/resize/brighten/contrast)</label>
									<input name="photo_editing" type="radio" id="photo_editing_adv" />
									<label for="photo_editing_adv">Professional Photo Editing (Photoshop, Lightroom, Corel Aftershot, etc.)</label>
									<!--
									<input name="group1" type="radio" id="testr3" />
									<label for="testr3">Linux/Ubuntu works for me</label>
									-->
								</div>
							</div>
							</div>
						</div>
					</li>

					<li id="video_section" style="display:none">
						<div class="collapsible-header"><i class="material-icons">camera_roll</i>Video Editing<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<span>What kind of video editing ?</span>
							<div class="row">
							<div class="input-field">
								<div class="col s12">
									<input name="video_editing" type="radio" id="video_editing_basic" checked/>
									<label for="video_editing_basic">Basic Video Editing (like windows movie maker)</label>
									<input name="video_editing" type="radio" id="video_editing_adv" />
									<label for="video_editing_adv">Professional Video Editing (Premiere Pro, After Effects, Sony Vegas, etc.)</label>
									<!--
									<input name="group1" type="radio" id="testr3" />
									<label for="testr3">Linux/Ubuntu works for me</label>
									-->
								</div>
							</div>
							</div>
						</div>
					</li>


					<li id="gaming_section" style="display:none">
						<div class="collapsible-header"><i class="material-icons">videogame_asset</i>Gaming<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<span>What kind of games you plan to play ?</span>
							<div class="row">
								<div class="col s6">
									<input name="gaming" type="checkbox" id="gaming_light" checked="checked" />
									<label for="gaming_light">Light Games</label>
								</div>
								<div class="col s6">
									<input name="gaming" type="checkbox" id="gaming_demanding" />
									<label for="gaming_demanding">Demanding Games</label>
								</div>
								<div class="col s6">
									<input name="gaming" type="checkbox" id="gaming_vdemanding"  />
									<label for="gaming_vdemanding">Very Demanding Games</label>															
								</div>
								<div class="col s6">
									<input name="gaming" type="checkbox" id="gaming_vvdemanding" />
									<label for="gaming_vvdemanding">Extremely Demanding Games</label>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="collapsible-header"><i class="material-icons">laptop_windows</i>Operating System<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<span>Need Windows 10 pre-installed ?</span>
							<div class="row">
							<div class="input-field">
								<div class="col s12">
									<input name="windows" type="radio" id="windows_yes" checked/>
									<label for="windows_yes">Yes</label>
									<input name="windows" type="radio" id="windows_no" />
									<label for="windows_no">No</label>
									<!--
									<input name="group1" type="radio" id="testr3" />
									<label for="testr3">Linux/Ubuntu works for me</label>
									-->
								</div>
							</div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="collapsible-header"><i class="material-icons">loyalty</i>Brand<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<span>Select one or more!</span>
							<div class="row">
								<div class="col s6">
									<input class="laptop_brand" type="checkbox" id="brand_Acer" checked="checked" />
									<label for="brand_Acer">Acer</label>
								</div>
								<div class="col s6">
									<input class="laptop_brand" type="checkbox" id="brand_Dell" checked/>
									<label for="brand_Dell">Dell</label>
								</div>
								<div class="col s6">
									<input class="laptop_brand" type="checkbox" id="brand_HP"  checked/>
									<label for="brand_HP">HP</label>															
								</div>
								<div class="col s6">
									<input class="laptop_brand" type="checkbox" id="brand_Lenovo" checked/>
									<label for="brand_Lenovo">Lenovo</label>
								</div>
								<div class="col s6">
									<input class="laptop_brand" type="checkbox" id="brand_Asus"  checked/>
									<label for="brand_Asus">ASUS</label>															
								</div>
								<div class="col s6">
									<input class="laptop_brand" type="checkbox" id="brand_MSI" checked/>
									<label for="brand_MSI">MSI</label>
								</div>								
							</div>
						</div>
					</li>					


					
					<li>
						<div class="collapsible-header"><i class="material-icons">device_hub</i>Others<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<div class="row">
								<div class="col s12">
								<div class="row">
									<div class="col s2 valign-wrapper">
									<span>Screen size</span>
									</div>
									<div class="col s10">
											<input name="screen_size" type="checkbox" id="screen_tiny" />
											<label for="screen_tiny">10" to 12"</label>
											<input name="screen_size" type="checkbox" id="screen_med" checked/>
											<label for="screen_med">15.6"</label>
											<input name="screen_size" type="checkbox" id="screen_small" checked/>
											<label for="screen_small">13" to 14"</label>
											<input name="screen_size" type="checkbox" id="screen_large" />
											<label for="screen_large">17" to 18"</label>
									</div>
								</div>
								<div class="row">
									<div class="col s2 valign-wrapper">
									<span>Touch Screen</span>
									</div>
									<div class="col s10">
											<input name="touch_screen" type="radio" id="tc_yes" />
											<label for="tc_yes">Yes</label>
											<input name="touch_screen" type="radio" id="tc_no" checked/>
											<label for="tc_no">No</label>
									</div>
								</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">account_circle</i>About You<span class="new badge" data-badge-caption="Select"></span></div>
						<div class="collapsible-body">
							<div class="row">
								<div class="col s12">
									<span>From where will you buy your laptop ?</span>
									<p>
										<input name="buying" type="radio" id="buying_off" checked/>
										<label for="buying_off">Offline Store</label>
										<input name="buying" type="radio" id="buying_on" />
										<label for="buying_on">Online E-commerce website</label>
										<input name="buying" type="radio" id="buying_any" />
										<label for="buying_any">Any, wherever I get a better deal</label>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<span>We will let you know the list of laptops perfect for you</span>
									<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">send</i>
										<input id="email_address" type="email" class="validate">
										<label for="email_address">Email-Id</label>
									</div>
									<div class="input-field col s12 ">
										<i class="material-icons prefix">phone</i>
										<input id="contact_no" type="tel" class="validate">
										<label for="contact_no">Telephone</label>
									</div>
									</div>
								</div>								
							</div>
						</div>
					</li>					
				</ul>
				</form>
				</div>
			</div>
			<div class="row center">
				<button id="get_suggestions" class="btn waves-effect waves-light red white-text accent-2"><i class="material-icons left">done</i>Submit</button>
			</div>	
		</div>
	</div>
        <footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="red-text accent-2">BuyRight</h5>
                <p class="red-text accent-2">Confused which laptop to buy ? Our experts are here to help you ! Just tell us your needs by filling a simple form and our experts will recommend laptops best for you !</p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright grey">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">BuyRight</a>
            </div>
          </div>
        </footer>            	
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/form.js')}}"></script>
	</body>
</html>