<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/suggestions.css')}}">
	</head>
	<body>
	<nav>
		<div class="nav-wrapper white">
		<a href="home.html" class="brand-logo center">
			<img src="{{url_for('static',filename='img/logo_only.png')}}">
		</a>
		</div>
	</nav>
	<div class="section red accent-2" id="index-banner">
		<div class="container">
			<div class='row center'>
				<h4 class ="header col s12 light center white-text">See what we got for you!</h4>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col s12">
				<ul class="collapsible popout" data-collapsible="accordion">
					<li>
						<div class="collapsible-header"><i class="material-icons">memory</i>Specifications you need</div>
						<div class="collapsible-body specifications_you_need">
								<span><b>Processor</b>: {{text_suggestions["Short Processor"]}}</span>
								<div class="fulltext" id="more-1">
									<a class="more" href="#more-1">Show more</a>
									<span>{{text_suggestions["Processor"]}}</span>
									<a class="less" href="#less-1">Show less</a>
								</div>
								<span><b>RAM</b>: {{text_suggestions["Short RAM"]}}</span>
								<div class="fulltext" id="more-2">
									<a class="more" href="#more-2">Show more</a>
									<span>{{text_suggestions["RAM"]}}</span>
									<a class="less" href="#less-2">Show less</a>
								</div>							
								<span><b>GPU</b>: {{text_suggestions["Short GPU"]}}</span>
								<div class="fulltext" id="more-3">
									<a class="more" href="#more-3">Show more</a>
									<span>{{text_suggestions["GPU"]}}</span>
									<a class="less" href="#less-3">Show less</a>
								</div>							
								<span><b>VRAM</b>: {{text_suggestions["Short VRAM"]}}</span>
								<div class="fulltext" id="more-4">
									<a class="more" href="#more-4">Show more</a>
									<span>{{text_suggestions["VRAM"]}}</span>
									<a class="less" href="#less-4">Show less</a>
								</div>							
								<span><b>Storage</b>: {{text_suggestions["Short Storage"]}}</span>
								<div class="fulltext" id="more-5">
									<a class="more" href="#more-5">Show more</a>
									<span>{{text_suggestions["Storage"]}}</span>
									<a class="less" href="#less-5">Show less</a>
								</div>							
						</div>
					</li>
					<li>
						<div class="collapsible-header active"><i class="material-icons">laptop</i>Laptops</div>
						<div class="collapsible-body laptop-list">
							<div class="row">
								<div class="col s12">
									{% for i in range(suggestions|length) %}
									<div class="row laptop-item">
										<div class="row laptop-brand">
										<div class="col s1">
											<span class="rank">{{i+1}}.</span>
										</div>
										<div class="col s3" id="laptop">
											<img src="{{url_for('static',filename='img/laptop.png')}}">
										</div>	
										<div class="col s8 buy">		
											<p class="laptop-name">{{suggestions[i]["Brand"] + " " + suggestions[i]["series name"] }}</p>
											<div class="valign-wrapper">
												<div class="col s5 price left">
													Rs. {{suggestions[i]["Best Price"]|int}}
												</div>
												<div class="col s7 buy-amazon left-align">
													Buy from Amazon
												</div>
											</div>
										</div>
										</div>
										<div class="row spec-sec">
											<div class="col s3">
												<p class="specs"><i class="material-icons">lens</i>{{suggestions[i]["Processor"]}}</p>
												<p class="specs"><i class="material-icons">lens</i>{{suggestions[i]["RAM"]}}</p>
											</div>
											<div class="col s4">
												<p class="specs"><i class="material-icons">lens</i>{{suggestions[i]["Screen"]}}</p>
												<p class="specs"><i class="material-icons">lens</i>{{suggestions[i]["Software"]}}</p>
											</div>
											<div class="col s5">
												
												<p class="specs"><i class="material-icons">lens</i>{{suggestions[i]["VRAM"]}}</p>
												<p class="specs"><i class="material-icons">lens</i>{{suggestions[i]["Storage"]}}</p>
											</div>
										</div>
									</div>
									<div class="divider"></div>
									{% endfor %}
									<div class="row center">
										<button id="get_more_suggestions" class="btn waves-effect waves-light red white-text accent-2"><i class="material-icons left">play_for_work</i>Get More!</button>
									</div>							
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">laptop_mac</i>Thin and Light Laptops</div>
						<div class="collapsible-body laptop-list">
							<div class="row">
								<div class="col s12">
									{% for i in range(suggestions_light|length) %}
									<div class="row laptop-item">
										<div class="row laptop-brand">
										<div class="col s1">
											<span class="rank">{{i+1}}.</span>
										</div>
										<div class="col s3" id="laptop">
											<img src="{{url_for('static',filename='img/laptop.png')}}">
										</div>
										
										<div class="col s8 buy">		
											<p class="laptop-name">{{suggestions_light[i]["Brand"] + " " + suggestions_light[i]["series name"] }}</p>
											<div class="valign-wrapper">
												<div class="col s5 price left">
													Rs. {{suggestions_light[i]["Best Price"]|int}}
												</div>
												<div class="col s7 buy-amazon left-align">
													Buy from Amazon
												</div>
											</div>
										</div>
										</div>
										<div class="row spec-sec">
											<div class="col s3">
												<p class="specs"><i class="material-icons">lens</i>{{suggestions_light[i]["Processor"]}}</p>
												<p class="specs"><i class="material-icons">lens</i>{{suggestions_light[i]["RAM"]}}</p>
											</div>
											<div class="col s4">
												<p class="specs"><i class="material-icons">lens</i>{{suggestions_light[i]["Screen"]}}</p>
												<p class="specs"><i class="material-icons">lens</i>{{suggestions_light[i]["Software"]}}</p>
											</div>
											<div class="col s5">
												
												<p class="specs"><i class="material-icons">lens</i>{{suggestions_light[i]["VRAM"]}}</p>
												<p class="specs"><i class="material-icons">lens</i>{{suggestions_light[i]["Storage"]}}</p>
											</div>
										</div>
									</div>
									<div class="divider"></div>
									{% endfor %}
									<div class="row center">
										<button id="get_more_suggestions" class="btn waves-effect waves-light red white-text accent-2"><i class="material-icons left">play_for_work</i>Get More!</button>
									</div>							
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header"><i class="material-icons">tune</i>Comparisons</div>
						<div class="collapsible-body">
							<span>Generated Text</span>
						</div>
					</li>					
				</ul>
				</div>
			</div>	
		</div>
	</div>
        <footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="red-text accent-2">BuyRight</h5>
                <p class="red-text accent-2">Confused which laptop to buy ? Our experts are here to help you ! Just tell us your needs by filling a simple form and our experts will recommend laptops best for you !</p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright grey">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">BuyRight</a>
            </div>
          </div>
        </footer>            	
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script type="text/javascript" src="{{url_for('static',filename='js/suggestions.js')}}"></script>
	</body>
</html>